<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.8/clipboard.min.js"></script>

<% @snippets.each do |snippet| %>
  <p>
    <input id="snippet<%= snippet.id %>" value= "<%= snippet.code %>" type="text" size="100" >
    <button class="btn btn-secondary" data-clipboard-target="#snippet<%= snippet.id %>">
      <%= fa_icon("clipboard") %>
    </button>
  </p>
<% end %>

<script>
  var clipboard = new Clipboard('.btn');
  clipboard.on('success', function(e) {
    console.info('Trigger:', e.trigger);
  });
  clipboard.on('error', function(e) {
    console.error('Trigger:', e.trigger);
  });
</script>
